html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
img,
strong,
sub,
sup,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Neue Haas Grotesk Display Pro";

  &.overflow {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

a:hover,
a:active,
a:focus {
  text-decoration: none;
}

input {
  border: none;
  background-color: transparent;
  outline: none;
  -webkit-appearance: none;
}
textarea {
  resize: vertical;
  border: none;
  background-color: transparent;
  outline: none;
  -webkit-appearance: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  outline: none;
  -webkit-appearance: none;
}

select {
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  outline: none;
  -webkit-appearance: none;
}

.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1190px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

//scroll
.scroll-wrap::-webkit-scrollbar {
  width: 3px;
  background-color: #ccc;
}
.scroll-wrap::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 2px;
}
