$breakpoints: (
  "xl": 1920px,
  "lg": 1280px,
  "md": 768px,
  "sm": 480px,
  "xs": 460px,
);

$header-text: #ff9142;
$btn-liks: #6078ff;
$section-bg: #f6f7fb;
$footer-bg: #fafafc;
$white: #ffffff;
$black: #000000;
$text-hole: #363a52;
$ellipse-bg: #e8e9f1;
$form-title: #333333;
$form-border: #ececec;
$form-text: #d9d9d9;
$numbers: #42dfbf;
$cart-bottom: #4a4a4a;
$planbtn-bg: #f0f0f0;
$btn-text: #8288ab;
$reviwes-text: #cecece;
$light-blue: #778da3;

/* font-family: 'Open Sans', sans-serif; */
