section.reviwes-section
	.reviwes
		.container
			h1.reviwes-head OUR<br>CUSTOMER REVIWS
			p.reviwes__info-text We have clients around the world, who regularly use our services for personal or professional reasons!
			.reviwes-tabs
				input#tab1(type="radio" name="tabs" checked)
				label(for="tab1")
					.reviwes-tabs__head
						img(src="images/customer1.jpg", alt="")
						.reviwes-tabs__texts
							h4.reviwes-tabs__title Martin Brian
							p.reviwes-tabs__subtitle Switzerland, Basel
				input#tab2(type="radio" name="tabs")
				label(for="tab2")
					.reviwes-tabs__head
						img(src="images/customer2.jpg", alt="")
						.reviwes-tabs__texts
							h4.reviwes-tabs__title John Reeves
							p.reviwes-tabs__subtitle USA, California
				input#tab3(type="radio" name="tabs")
				label(for="tab3")
					.reviwes-tabs__head
						img(src="images/customer3.jpg", alt="")
						.reviwes-tabs__texts
							h4.reviwes-tabs__title Milton Austin
							p.reviwes-tabs__subtitle Australia, Sydney
				section#content1
					.reviwes-tabs__content
						h3.reviwes-tabs__content-title It was great expirience!
						img(src="images/fourstar.svg", alt="")
						p.reviwes-tabs__content-subtitle For a long time, I was looking for a method to draw people's attention to myself, because even if you create very interesting content, few people still subscribe to your page and like your photos or videos. With Tokvibes, my account has gained popularity and reached a new level. I am really grateful for this!
				section#content2
					.reviwes-tabs__content
						h3.reviwes-tabs__content-title It was great expirience!
						img(src="images/fivestar.svg", alt="")
						p.reviwes-tabs__content-subtitle For a long time, I was looking for a method to draw people's attention to myself, because even if you create very interesting content, few people still subscribe to your page and like your photos or videos. With Tokvibes, my account has gained popularity and reached a new level. I am really grateful for this!
				section#content3
					.reviwes-tabs__content
						h3.reviwes-tabs__content-title It was great expirience!
						img(src="images/fourstar.svg", alt="")
						p.reviwes-tabs__content-subtitle For a long time, I was looking for a method to draw people's attention to myself, because even if you create very interesting content, few people still subscribe to your page and like your photos or videos. With Tokvibes, my account has gained popularity and reached a new level. I am really grateful for this!