.reviwes {
  background-color: $white;
  .container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px 50px 15px;
    @media screen and (min-width: 768px) {
      padding: 0 15px 100px 15px;
    }
  }
  .reviwes-head {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: $text-hole;
    max-width: 372px;
    width: 100%;
    margin: 0;
    text-align: left;
    padding-bottom: 23px;
    @media screen and (min-width: 768px) {
      font-size: 36px;
      line-height: 1.5;
    }
  }
  &__info-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: $text-hole;
    padding-bottom: 16px;
    max-width: 507px;
    width: 100%;
    @media screen and (min-width: 768px) {
      font-size: 18px;
    }
  }
}
//tabs
.reviwes-tabs {
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  width: 100%;
  padding: 0px;
  margin: 0 auto;
  position: relative;
  @media screen and (min-width: 662px) {
    display: block;
  }
  section {
    display: none;
    padding: 40px 30px 40px 40px;
    background: white;
    position: sticky;
    margin-top: -315px;
    left: 50%;
    right: 0;
    background: #ffffff;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    max-width: 564px;
    width: 100%;
    height: 371px;
    @media screen and (max-width: 917px) {
      width: 415px;
      height: auto;
    }
    @media screen and (max-width: 768px) {
      width: 300px;
      height: auto;
    }
    @media screen and (max-width: 662px) {
      margin-top: 22px;
      max-width: 564px;
      width: 100%;
      left: 0;
      right: 0;
    }
  }
  p {
    margin: 0;
  }
  input {
    display: none;
  }
  label {
    display: flex;
    width: 100%;
    padding: 15px 0px;
    height: 114px;
    cursor: pointer;
    max-width: 500px;
    padding-left: 10px;
    @media screen and (min-width: 662px) {
      height: 127px;
      padding: 26px 0 8px 36px;
      display: block;
      width: 300px;
      padding: 15px 0px;
      height: auto;
    }
    @media screen and (min-width: 1090px) {
      width: 468px;
    }
  }
  input[type="radio"]:checked + label {
    color: #4f5966;
    background: $white;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.11);
    border-radius: 10px;
  }
  #tab1:checked ~ #content1,
  #tab2:checked ~ #content2,
  #tab3:checked ~ #content3 {
    display: block;
  }
  section {
    animation: scale 0.7s ease-in-out;
  }
  @keyframes scale {
    0% {
      transform: scale(0.9);
      opacity: 0;
    }
    50% {
      transform: scale(1.005);
      opacity: 0.5;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  &__content-title {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: $text-hole;
    padding-bottom: 10px;
    @media screen and (min-width: 768px) {
      font-size: 20px;
    }
  }
  &__content-subtitle {
    padding-top: 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: $text-hole;
    @media screen and (min-width: 768px) {
      font-size: 18px;
    }
  }

  &__head {
    display: flex;
    padding-left: 15px;
    @media screen and (max-width: 662px) {
      /* flex-direction: column; */
      align-items: center;
      img {
        height: 100%;
        width: 45%;
      }
    }
  }

  &__title {
    padding: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: #363a52;

    @media screen and (min-width: 768px) {
      font-size: 20px;
    }
    @media screen and (min-width: 320px) {
      padding-top: 9px;
      padding-left: 16px;
    }
  }
  &__subtitle {
    padding: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: $reviwes-text;
    @media screen and (min-width: 320px) {
      padding-left: 16px;
    }
  }
  /*  @media screen and (max-width: 662px) {
    text-align: center;
  } */
}
