extends ../layouts/default

block head
	- var pageTitle = '';

block header
	include ../blocks/header/header

block content
	main.main
		include ../blocks/plan-section/plan-section
		include ../blocks/purchase-section/purchase-section
		include ../blocks/reviwes-section/reviwes-section

block footer
	include ../blocks/footer/footer

