header.header
	.container
		.nav
			a(href="#").logo
				img(src="images/logo.svg", alt="")
			.header-btn
				.header-btn1
					a(href="#")
						img(src="images/supermarket.svg", alt="")
					.header-btn1__nomber $ 45
				.header-btn2
					a(href="#")
						img(src="images/user.svg", alt="")
		p.header-title Select social media:
		.social
			.social__inst.social__btn
				a(href="#")
					img(src="images/inst.svg", alt="")
				.social-inst__text Instagram
			.social__media.social__btn
				a(href="#")
					img(src="images/fb.svg", alt="")
				a(href="#")
					img(src="images/youtube.svg", alt="")
				a(href="#")
					img(src="images/tiktok.svg", alt="")
				.social__media-next Social media
		h1 ENJOY SUCCESS WITH 
			span TOKVIBES
			|  - GET YOUR LIKES RIGHT NOW!
		p.header-subtitle Buying likes on Instagram will help you promote your business, enhance your sales or just make your posts popular within the shortest time.
		.elso
			.elso__list
				.elso__list-content.active
					a(href="#")
						img(src="images/hart.svg", alt="")
					a(href="#")
						p.elso__list-text Likes
				.elso__list-content
					a(href="#")
						<svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g clip-path="url(#clip0)">
						<path d="M22.3262 1.9028H21.0876V0.673828C21.0876 0.301695 20.7859 0 20.4138 0C20.0417 0 19.74 0.301695 19.74 0.673828V1.9028H18.5015C18.1293 1.9028 17.8276 2.2045 17.8276 2.57663C17.8276 2.94876 18.1293 3.25046 18.5015 3.25046H19.74V4.47943C19.74 4.85156 20.0417 5.15326 20.4138 5.15326C20.7859 5.15326 21.0876 4.85156 21.0876 4.47943V3.25046H22.3262C22.6983 3.25046 23 2.94876 23 2.57663C23 2.2045 22.6983 1.9028 22.3262 1.9028Z"/>
						<path d="M3.87797 15.9992C3.87797 15.8205 3.88579 15.6427 3.89967 15.4659C2.96399 15.2186 2.13491 14.7072 1.49828 14.0166C0.579492 14.8374 0 16.0305 0 17.3566V23H3.87797V15.9992Z"/>
						<path d="M6.69454 10.4608C6.14564 9.5773 5.82799 8.53678 5.82799 7.42339C5.82799 7.30336 5.83213 7.18431 5.8394 7.06608C5.6254 7.02709 5.40532 7.00562 5.18022 7.00562C3.16538 7.00562 1.52618 8.63821 1.52618 10.6449C1.52618 12.2915 2.63018 13.6854 4.13942 14.1329C4.55387 12.6765 5.44553 11.3749 6.69454 10.4608Z"/>
						<path d="M11.6346 11.8635C9.17594 11.8635 7.17566 9.87167 7.17566 7.42343C7.17566 4.97519 9.17594 2.9834 11.6346 2.9834C14.0932 2.9834 16.0935 4.97519 16.0935 7.42343C16.0935 9.87167 14.0933 11.8635 11.6346 11.8635Z"/>
						<path d="M15.7359 11.5166C14.6847 12.5631 13.2341 13.2112 11.6345 13.2112C10.035 13.2112 8.58439 12.5631 7.53313 11.5166C6.13696 12.5178 5.22559 14.154 5.22559 15.9993V23H18.0435V15.9993C18.0435 14.154 17.132 12.5178 15.7359 11.5166Z"/>
						</g>						
						</svg>
					a(href="#")
						p.elso__list-text Followers
				.elso__list-content
					a(href="#")
						<svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M21.1754 2.05512C19.9848 0.729882 18.3511 0 16.5749 0C15.2473 0 14.0314 0.430762 12.961 1.28022C12.4209 1.709 11.9315 2.23359 11.5 2.84587C11.0687 2.23377 10.5791 1.709 10.0388 1.28022C8.96858 0.430762 7.75271 0 6.42506 0C4.64889 0 3.01503 0.729882 1.82442 2.05512C0.648033 3.36488 0 5.1542 0 7.0937C0 9.08994 0.724892 10.9173 2.28119 12.8445C3.67342 14.5685 5.67437 16.3185 7.99153 18.345C8.78275 19.0371 9.67961 19.8215 10.6109 20.6571C10.8569 20.8783 11.1726 21 11.5 21C11.8273 21 12.1431 20.8783 12.3888 20.6575C13.32 19.8217 14.2174 19.0369 15.009 18.3445C17.3258 16.3183 19.3268 14.5685 20.719 12.8443C22.2753 10.9173 23 9.08994 23 7.09352C23 5.1542 22.352 3.36488 21.1754 2.05512Z"/>
						</svg>
					a(href="#")
						p.elso__list-text Auto-Likers
				.elso__list-content
					a(href="#")
						<svg width="31" height="17" viewBox="0 0 31 17" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M15.5 4.625C13.3633 4.625 11.625 6.3633 11.625 8.5C11.625 10.6367 13.3633 12.375 15.5 12.375C17.6367 12.375 19.375 10.6367 19.375 8.5C19.375 6.3633 17.6367 4.625 15.5 4.625ZM15.5 10.4375C14.4317 10.4375 13.5625 9.56835 13.5625 8.5C13.5625 7.43165 14.4317 6.5625 15.5 6.5625C16.5683 6.5625 17.4375 7.43165 17.4375 8.5C17.4375 9.56835 16.5683 10.4375 15.5 10.4375Z"/>
						<path d="M29.6684 6.16919L25.4743 3.55895C22.5218 1.72129 19.0727 0.75 15.5 0.75C11.9273 0.75 8.4782 1.72129 5.52569 3.55895L1.33161 6.16919C0.497816 6.68813 0 7.55946 0 8.5C0 9.44054 0.497816 10.3119 1.33161 10.8308L5.52569 13.441C8.4782 15.2787 11.9273 16.25 15.5 16.25C19.0727 16.25 22.5218 15.2787 25.4743 13.441L29.6685 10.8308C30.5022 10.3119 31 9.44054 31 8.5C31 7.55946 30.5022 6.68813 29.6684 6.16919ZM15.5 14.3125C12.295 14.3125 9.6875 11.705 9.6875 8.5C9.6875 5.29495 12.295 2.6875 15.5 2.6875C18.705 2.6875 21.3125 5.29495 21.3125 8.5C21.3125 11.705 18.705 14.3125 15.5 14.3125Z"/>
						</svg>
					a(href="#")
						p.elso__list-text Views
				.elso__list-content
					a(href="#")
						<svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g clip-path="url(#clip0)">
						<path d="M20.6976 19.728C24.0887 15.8166 23.6726 9.91811 19.8466 6.49475C21.8118 13.381 16.6154 20.2597 9.45607 20.2597C9.31825 20.2597 10.15 20.2646 6.87378 20.2443C8.66567 22.0279 11.0523 22.9999 13.5438 22.9999C13.5502 22.9999 22.3236 22.9551 22.3287 22.955C22.9277 22.9522 23.2261 22.2232 22.7988 21.8016L20.6976 19.728Z"/>
						<path d="M9.45587 18.9121C14.6697 18.9121 18.9114 14.6701 18.9114 9.45605C18.9114 4.24197 14.6697 0 9.45587 0C4.24202 0 0.000364825 4.24197 0.000364825 9.45605C0.000364825 11.7515 0.812911 13.9225 2.30203 15.6401L0.200851 17.7137C-0.225008 18.1341 0.0699937 18.8643 0.670958 18.8672C0.675585 18.8672 9.45129 18.9121 9.45587 18.9121ZM5.43559 6.10938H13.5211C13.8932 6.10938 14.1949 6.41107 14.1949 6.7832C14.1949 7.15534 13.8932 7.45703 13.5211 7.45703H5.43559C5.06346 7.45703 4.76181 7.15534 4.76181 6.7832C4.76181 6.41107 5.06351 6.10938 5.43559 6.10938ZM5.43559 8.80469H13.5211C13.8932 8.80469 14.1949 9.10638 14.1949 9.47852C14.1949 9.85065 13.8932 10.1523 13.5211 10.1523H5.43559C5.06346 10.1523 4.76181 9.85065 4.76181 9.47852C4.76181 9.10638 5.06351 8.80469 5.43559 8.80469ZM4.76181 12.1738C4.76181 11.8017 5.06346 11.5 5.43559 11.5H13.5211C13.8932 11.5 14.1949 11.8017 14.1949 12.1738C14.1949 12.546 13.8932 12.8477 13.5211 12.8477H5.43559C5.06351 12.8477 4.76181 12.546 4.76181 12.1738Z"/>
						</g>
						</svg>
					a(href="#")
						p.elso__list-text Comments