.header {
  background-image: url(../images/main-bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  height: auto;
  @media screen and (min-width: 768px) {
    height: 700px;
  }
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  height: auto;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}
.header-btn {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.logo {
  padding-top: 15px;
}
.header-btn1 {
  padding: 12px 15px;
  border: 0.5px solid $white;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 4px;
  @media screen and (min-width: 768px) {
    padding: 16px 31px 16px 20px;
    margin-right: 12px;
  }
  &__nomber {
    padding-left: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: $white;
  }
}
.header-btn2 {
  padding: 12px 15px;
  border: 0.5px solid $white;
  box-sizing: border-box;
  border-radius: 10px;
  @media screen and (min-width: 768px) {
    padding: 16px 32px;
  }
}
.header-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.07em;
  color: $white;
  padding-top: 23px;
}
.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 26px;
  align-items: center;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
  &__inst {
    background-image: linear-gradient(97.01deg, #df4242 27.59%, #ff7802 99.95%);
    box-shadow: 0px 1px 16px rgba(255, 145, 66, 0.23);
  }
  &__media {
    border: 0.5px solid $white;
    box-sizing: border-box;
  }
  &__media-next {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.1em;
    color: $white;
  }
}
.social__btn {
  border-radius: 10px;
  padding: 18px 10px;
  min-width: 250px;
  margin: 0 6px 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 55px;
  img {
    padding-right: 10px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    min-width: 203px;
    height: 60px;
  }
}
.social__media:hover,
.header-btn1:hover,
.header-btn2:hover {
  border: 0.5px solid transparent;
  box-shadow: 0px 1px 16px rgba(255, 145, 66, 0.23);
  background-image: linear-gradient(94.98deg, #df4242 27.59%, #ff7802 99.95%);
}
.social-inst__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
  color: $white;
  padding-left: 20px;
}
h1 {
  margin: 50px 0 0 0;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-align: center;
  color: $white;
  span {
    color: $header-text;
  }
  @media screen and (min-width: 768px) {
    font-size: 35px;
    margin: 92px 0 0 0;
  }
}
.header-subtitle {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.07em;
  color: $white;
  margin: 0 auto;
  max-width: 738px;
  width: 100%;
  padding-top: 15px;
  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.2;
  }
}
.elso {
  width: 100%;
  max-width: 690px;
  height: auto;
  margin: 15px auto;
  background: $white;
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.11);
  border-radius: 5px;
  display: flex;
  overflow: hidden;
  @media screen and (min-width: 768px) {
    margin: 96px auto 0 auto;
    height: 130px;
  }
  &__list-content {
    height: 100%;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $white;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    padding: 10px;
    @media screen and (min-width: 768px) {
      padding: 0 36px;
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    flex-direction: column;
    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }
  &__list-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: $text-hole;
    padding-top: 0;
    white-space: nowrap;
    &:hover {
      color: $white;
    }
    @media screen and (min-width: 768px) {
      padding-top: 15px;
    }
  }
}
.elso__list-content.active,
.elso__list-content:hover {
  background-color: $btn-liks;
  .elso__list-text {
    color: $white;
  }
  svg {
    fill: $white;
  }
}
.elso__list-content {
  svg {
    fill: $btn-liks;
  }
}
