.footer {
  background-color: $footer-bg;

  .container {
    padding: 55px 0px 26px 0px;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    a {
      text-align: center;
      padding-bottom: 23px;
    }
  }
}
.footer-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.05em;
  color: $text-hole;
  max-width: 750px;
  width: 100%;
  padding: 0px 15px 40px 15px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    padding: 0px 0px 40px 0px;
  }
}
.footer-email {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 17px;
  &__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $text-hole;
    padding-left: 8px;
  }
}
.footer-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 492px;
  width: 100%;
  margin: 0 auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $text-hole;
  padding-bottom: 20px;
  a {
    color: $text-hole;
  }
  span {
    color: $btn-liks;
  }
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}
.copyright {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: $text-hole;
  text-align: center;
}
