footer.footer
	.container
		a(href="#")
			img(src="images/logo-foot.svg", alt="")
		p.footer-title We are an award-winning creative agency, dedicated to the best result in web design, promotion, business consulting, and marketing.
		.footer-email
			a(href="#")
				img(src="images/footer-img.svg", alt="")
			a(href="#")
				.footer-email__text support@tokvibes.com
		.footer-list
			a(href="#") Feedback
			a(href="#") How it works
			a(href="#")
				span FAQ
			a(href="#") Privacy Policy
			a(href="#") Refund Policy
		p.copyright ©  2020 . All Rights Reserved.


