//new styles
.plan-section {
  padding: 5px 0 25px;
}

.switch-form {
  &__field {
    background: #f0f0f0;
    border-radius: 16px;
    display: flex;

    input {
      position: absolute !important;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      width: 1px;
      border: 0;
      overflow: hidden;
    }

    label {
      transition: all 0.3s ease;
      cursor: pointer;
      min-width: 80px;
      text-align: center;
      border-radius: 16px;
      padding: 10px;
      color: #8288ab;
      font-weight: 500;
      font-size: 12px;
      background: transparent;
    }
  }

  input.basic-input:checked + label {
    transition: all 0.3s ease;
    color: $white;
    background-color: $btn-liks;
  }
  input.premium-input:checked + label {
    transition: all 0.3s ease;
    color: $white;
    background: linear-gradient(94.98deg, #df4242 27.59%, #ff7802 99.95%);
  }
}
