section.plan-section
	.container
		.package-wrap
			.package
				.package__wrap
					.package__select
						span.package__select-title Select plan:
						form(action="#" id="").switch-form
							.switch-form__field
								input(type='radio', name='switch-one', value='Basic', id="radio-one-first", class="basic-input" checked)
								label(for='radio-one-first') Basic
								input(type='radio', name='switch-one', value='Premium' id="radio-two-first" class="premium-input")
								label(for='radio-two-first') Premium
					.package__price-wrap
						span.package__price $7,60
						p.package__quantity.inst for 
							span 500
							| subscribers
					ul.package__list
						li.active High-quality
						li.active Real likes
						li.active 24/7 support
						li.active Instant start
						li.active Affordable prices
					button(type="button").package__btn.js-open-modal Buy now
			.package.premium
				.package__wrap
					.package__select
						span.package__select-title Select plan:
						form(action="#" id="").switch-form
							.switch-form__field
								input(type='radio', name='switch-one', value='Basic', id="radio-one-second", class="basic-input")
								label(for='radio-one-second') Basic
								input(type='radio', name='switch-one', value='Premium' id="radio-two-second" class="premium-input" checked)
								label(for='radio-two-second') Premium
					.package__price-wrap
						span.package__price $7,60
						p.package__quantity.tiktok for 
							span 1000
							| subscribers
					ul.package__list
						li.active High-quality
						li.active Real likes
						li.active 24/7 support
						li.active Instant start
						li.active Affordable prices
					button(type="button").package__btn.js-open-modal Buy now
			.package
				.package__wrap
					.package__select
						span.package__select-title Select plan:
						form(action="#" id="").switch-form
							.switch-form__field
								input(type='radio', name='switch-one', value='Basic', id="radio-one-third", class="basic-input" checked)
								label(for='radio-one-third') Basic
								input(type='radio', name='switch-one', value='Premium' id="radio-two-third" class="premium-input")
								label(for='radio-two-third') Premium
					.package__price-wrap
						span.package__price $7,60
						p.package__quantity.fb for 
							span 500
							| subscribers
					ul.package__list
						li.active High-quality
						li.active Real likes
						li.active 24/7 support
						li.active Instant start
						li.active Affordable prices
					button(type="button").package__btn.js-open-modal Buy now
			.package
				.package__wrap
					.package__select
						span.package__select-title Select plan:
						form(action="#" id="").switch-form
							.switch-form__field
								input(type='radio', name='switch-one', value='Basic', id="radio-one-fourth", class="basic-input" checked)
								label(for='radio-one-fourth') Basic
								input(type='radio', name='switch-one', value='Premium' id="radio-two-fourth", class="premium-input")
								label(for='radio-two-fourth') Premium
					.package__price-wrap
						span.package__price $7,60
						p.package__quantity.youtube for 
							span 500
							| subscribers
					ul.package__list
						li.active High-quality
						li.active Real likes
						li.active 24/7 support
						li.active Instant start
						li.active Affordable prices
					button(type="button").package__btn.js-open-modal Buy now
