.package-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -6px;
}

.package {
  padding: 0 6px;
  width: 100%;
  position: relative;
  margin-bottom: 20px;

  @media screen and (min-width: 600px) {
    width: 50%;
  }

  @media screen and (min-width: 1024px) {
    width: 25%;
  }

  &.premium {
    .package__btn {
      background: linear-gradient(94.98deg, #df4242 27.59%, #ff7802 99.95%);
    }

    .package__price {
      background: linear-gradient(94.98deg, #df4242 27.59%, #ff7802 99.95%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }

    .package__quantity {
      span {
        background: linear-gradient(94.98deg, #df4242 27.59%, #ff7802 99.95%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }

      &.inst {
        &:before {
          background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M15.9844 4.70404C15.9469 3.8539 15.8094 3.26944 15.6125 2.76299C15.4093 2.22541 15.0967 1.74412 14.6872 1.34401C14.2871 0.937683 13.8027 0.621948 13.2713 0.421957C12.7619 0.22502 12.1805 0.0875415 11.3304 0.0500586C10.4739 0.00940124 10.202 0 8.02969 0C5.85739 0 5.58549 0.00940124 4.73218 0.0468842C3.88204 0.0843671 3.29757 0.221967 2.79125 0.418783C2.25355 0.621948 1.77225 0.934509 1.37215 1.34401C0.965819 1.74412 0.650206 2.22858 0.450094 2.75994C0.253157 3.26944 0.115679 3.85073 0.0781957 4.70087C0.0375384 5.55736 0.0281372 5.82926 0.0281372 8.00156C0.0281372 10.1739 0.0375384 10.4458 0.0750213 11.2991C0.112504 12.1492 0.250104 12.7337 0.447042 13.2401C0.650206 13.7777 0.965819 14.259 1.37215 14.6591C1.77225 15.0654 2.25672 15.3812 2.78807 15.5812C3.29757 15.7781 3.87886 15.9156 4.72912 15.9531C5.58232 15.9907 5.85434 16 8.02664 16C10.1989 16 10.4708 15.9907 11.3242 15.9531C12.1743 15.9156 12.7588 15.7781 13.2651 15.5812C14.3404 15.1654 15.1905 14.3153 15.6062 13.2401C15.8031 12.7306 15.9407 12.1492 15.9781 11.2991C16.0156 10.4458 16.025 10.1739 16.025 8.00156C16.025 5.82926 16.0218 5.55736 15.9844 4.70404ZM14.5435 11.2366C14.5091 12.018 14.3778 12.4399 14.2685 12.7212C13.9996 13.4183 13.4464 13.9715 12.7494 14.2403C12.4681 14.3497 12.043 14.481 11.2647 14.5153C10.4208 14.5529 10.1677 14.5622 8.03287 14.5622C5.89805 14.5622 5.64178 14.5529 4.80092 14.5153C4.01951 14.481 3.59756 14.3497 3.31625 14.2403C2.96938 14.1121 2.65365 13.909 2.39737 13.6433C2.1317 13.3838 1.92853 13.0713 1.80033 12.7244C1.69094 12.4431 1.55968 12.018 1.52538 11.2397C1.48777 10.3958 1.47849 10.1426 1.47849 8.00779C1.47849 5.87297 1.48777 5.6167 1.52538 4.77596C1.55968 3.99455 1.69094 3.5726 1.80033 3.29129C1.92853 2.9443 2.1317 2.62869 2.40055 2.37229C2.65987 2.10661 2.97243 1.90345 3.31943 1.77537C3.60073 1.66597 4.02586 1.53472 4.80409 1.50029C5.648 1.46281 5.90123 1.45341 8.03592 1.45341C10.1739 1.45341 10.427 1.46281 11.2679 1.50029C12.0493 1.53472 12.4712 1.66597 12.7525 1.77537C13.0994 1.90345 13.4151 2.10661 13.6714 2.37229C13.9371 2.63174 14.1403 2.9443 14.2685 3.29129C14.3778 3.5726 14.5091 3.99761 14.5435 4.77596C14.581 5.61987 14.5904 5.87297 14.5904 8.00779C14.5904 10.1426 14.581 10.3927 14.5435 11.2366Z' fill='%23EA552B'/%3E%3Cpath d='M8.02955 3.89136C5.76043 3.89136 3.91937 5.73229 3.91937 8.00154C3.91937 10.2708 5.76043 12.1117 8.02955 12.1117C10.2988 12.1117 12.1397 10.2708 12.1397 8.00154C12.1397 5.73229 10.2988 3.89136 8.02955 3.89136ZM8.02955 10.6677C6.55746 10.6677 5.36338 9.47375 5.36338 8.00154C5.36338 6.52932 6.55746 5.33537 8.02955 5.33537C9.50176 5.33537 10.6957 6.52932 10.6957 8.00154C10.6957 9.47375 9.50176 10.6677 8.02955 10.6677Z' fill='%23EA552B'/%3E%3Cpath d='M13.2623 3.72883C13.2623 4.25872 12.8326 4.68837 12.3026 4.68837C11.7727 4.68837 11.3431 4.25872 11.3431 3.72883C11.3431 3.19882 11.7727 2.76929 12.3026 2.76929C12.8326 2.76929 13.2623 3.19882 13.2623 3.72883Z' fill='%23EA552B'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        }
      }

      &.tiktok {
        &:before {
          background-image: url("data:image/svg+xml,%3Csvg id='Capa_1' enable-background='new 0 0 512 512' height='512' viewBox='0 0 512 512' width='512' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%23EA552B' d='m480.32 128.39c-29.22 0-56.18-9.68-77.83-26.01-24.83-18.72-42.67-46.18-48.97-77.83-1.56-7.82-2.4-15.89-2.48-24.16h-83.47v228.08l-.1 124.93c0 33.4-21.75 61.72-51.9 71.68-8.75 2.89-18.2 4.26-28.04 3.72-12.56-.69-24.33-4.48-34.56-10.6-21.77-13.02-36.53-36.64-36.93-63.66-.63-42.23 33.51-76.66 75.71-76.66 8.33 0 16.33 1.36 23.82 3.83v-62.34-22.41c-7.9-1.17-15.94-1.78-24.07-1.78-46.19 0-89.39 19.2-120.27 53.79-23.34 26.14-37.34 59.49-39.5 94.46-2.83 45.94 13.98 89.61 46.58 121.83 4.79 4.73 9.82 9.12 15.08 13.17 27.95 21.51 62.12 33.17 98.11 33.17 8.13 0 16.17-.6 24.07-1.77 33.62-4.98 64.64-20.37 89.12-44.57 30.08-29.73 46.7-69.2 46.88-111.21l-.43-186.56c14.35 11.07 30.04 20.23 46.88 27.34 26.19 11.05 53.96 16.65 82.54 16.64v-60.61-22.49c.02.02-.22.02-.24.02z'/%3E%3C/g%3E%3C/svg%3E");
        }
      }

      &.fb {
        &:before {
          background-image: url("data:image/svg+xml,%3Csvg width='9' height='16' viewBox='0 0 9 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.66463 2.65667H8.1253V0.112667C7.8733 0.078 7.00663 0 5.9973 0C3.8913 0 2.44863 1.32467 2.44863 3.75933V6H0.124634V8.844H2.44863V16H5.29797V8.84467H7.52797L7.88197 6.00067H5.2973V4.04133C5.29797 3.21933 5.5193 2.65667 6.66463 2.65667Z' fill='%23EA552B'/%3E%3C/svg%3E%0A");
        }
      }

      &.youtube {
        &:before {
          background-image: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.7116 1.9136C13.5502 1.36282 13.0773 0.928663 12.4777 0.780349C11.3821 0.505005 6.99986 0.505005 6.99986 0.505005C6.99986 0.505005 2.61773 0.505005 1.52216 0.769853C0.934063 0.91807 0.449675 1.36292 0.288283 1.9136C0 2.91963 0 5.00605 0 5.00605C0 5.00605 0 7.10295 0.288283 8.09849C0.449781 8.64918 0.922527 9.08343 1.52227 9.23174C2.62926 9.50709 6.99997 9.50709 6.99997 9.50709C6.99997 9.50709 11.3821 9.50709 12.4777 9.24224C13.0774 9.09402 13.5502 8.65977 13.7117 8.10908C13.9999 7.10295 13.9999 5.01664 13.9999 5.01664C13.9999 5.01664 14.0115 2.91963 13.7116 1.9136Z' fill='%23EA552B'/%3E%3Cpath d='M5.60461 6.93364L9.2487 5.00613L5.60461 3.07861V6.93364Z' fill='white'/%3E%3C/svg%3E%0A");
        }
      }
    }
  }

  &__wrap {
    background-color: $white;
    padding: 25px 20px;
    background: #ffffff;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.11);
    border-radius: 5px;
  }

  &__select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 25px;
  }

  &__select-title {
    font-weight: 500;
    font-size: 14px;
    color: $text-hole;
    margin-right: 10px;
  }

  &__price-wrap {
    padding: 17px 0;
    border-bottom: 1px solid rgba(130, 136, 171, 0.36);
    border-top: 1px solid rgba(130, 136, 171, 0.36);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__price {
    font-weight: 700;
    font-size: 46px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: $btn-liks;

    &.premium {
      display: none;
    }
  }

  &__quantity {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: $text-hole;
    padding-left: 25px;
    position: relative;
    &:before {
      position: absolute;
      content: "";
      width: 16px;
      height: 16px;
      top: 50%;
      @include bg-img-center;
      transform: translateY(-50%);
      left: 0;
    }

    span {
      color: $btn-liks;
      font-weight: 700;
      margin-right: 2px;

      &.premium {
        display: none;
      }
    }

    &.inst {
      &:before {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M15.9844 4.70404C15.9469 3.8539 15.8094 3.26944 15.6125 2.76299C15.4093 2.22541 15.0967 1.74412 14.6872 1.34401C14.2871 0.937683 13.8027 0.621948 13.2713 0.421957C12.7619 0.22502 12.1805 0.0875415 11.3304 0.0500586C10.4739 0.00940124 10.202 0 8.02969 0C5.85739 0 5.58549 0.00940124 4.73218 0.0468842C3.88204 0.0843671 3.29757 0.221967 2.79125 0.418783C2.25355 0.621948 1.77225 0.934509 1.37215 1.34401C0.965819 1.74412 0.650206 2.22858 0.450094 2.75994C0.253157 3.26944 0.115679 3.85073 0.0781957 4.70087C0.0375384 5.55736 0.0281372 5.82926 0.0281372 8.00156C0.0281372 10.1739 0.0375384 10.4458 0.0750213 11.2991C0.112504 12.1492 0.250104 12.7337 0.447042 13.2401C0.650206 13.7777 0.965819 14.259 1.37215 14.6591C1.77225 15.0654 2.25672 15.3812 2.78807 15.5812C3.29757 15.7781 3.87886 15.9156 4.72912 15.9531C5.58232 15.9907 5.85434 16 8.02664 16C10.1989 16 10.4708 15.9907 11.3242 15.9531C12.1743 15.9156 12.7588 15.7781 13.2651 15.5812C14.3404 15.1654 15.1905 14.3153 15.6062 13.2401C15.8031 12.7306 15.9407 12.1492 15.9781 11.2991C16.0156 10.4458 16.025 10.1739 16.025 8.00156C16.025 5.82926 16.0218 5.55736 15.9844 4.70404ZM14.5435 11.2366C14.5091 12.018 14.3778 12.4399 14.2685 12.7212C13.9996 13.4183 13.4464 13.9715 12.7494 14.2403C12.4681 14.3497 12.043 14.481 11.2647 14.5153C10.4208 14.5529 10.1677 14.5622 8.03287 14.5622C5.89805 14.5622 5.64178 14.5529 4.80092 14.5153C4.01951 14.481 3.59756 14.3497 3.31625 14.2403C2.96938 14.1121 2.65365 13.909 2.39737 13.6433C2.1317 13.3838 1.92853 13.0713 1.80033 12.7244C1.69094 12.4431 1.55968 12.018 1.52538 11.2397C1.48777 10.3958 1.47849 10.1426 1.47849 8.00779C1.47849 5.87297 1.48777 5.6167 1.52538 4.77596C1.55968 3.99455 1.69094 3.5726 1.80033 3.29129C1.92853 2.9443 2.1317 2.62869 2.40055 2.37229C2.65987 2.10661 2.97243 1.90345 3.31943 1.77537C3.60073 1.66597 4.02586 1.53472 4.80409 1.50029C5.648 1.46281 5.90123 1.45341 8.03592 1.45341C10.1739 1.45341 10.427 1.46281 11.2679 1.50029C12.0493 1.53472 12.4712 1.66597 12.7525 1.77537C13.0994 1.90345 13.4151 2.10661 13.6714 2.37229C13.9371 2.63174 14.1403 2.9443 14.2685 3.29129C14.3778 3.5726 14.5091 3.99761 14.5435 4.77596C14.581 5.61987 14.5904 5.87297 14.5904 8.00779C14.5904 10.1426 14.581 10.3927 14.5435 11.2366Z' fill='%236078FF'/%3E%3Cpath d='M8.02955 3.89136C5.76043 3.89136 3.91937 5.73229 3.91937 8.00154C3.91937 10.2708 5.76043 12.1117 8.02955 12.1117C10.2988 12.1117 12.1397 10.2708 12.1397 8.00154C12.1397 5.73229 10.2988 3.89136 8.02955 3.89136ZM8.02955 10.6677C6.55746 10.6677 5.36338 9.47375 5.36338 8.00154C5.36338 6.52932 6.55746 5.33537 8.02955 5.33537C9.50176 5.33537 10.6957 6.52932 10.6957 8.00154C10.6957 9.47375 9.50176 10.6677 8.02955 10.6677Z' fill='%236078FF'/%3E%3Cpath d='M13.2623 3.72883C13.2623 4.25872 12.8326 4.68837 12.3026 4.68837C11.7727 4.68837 11.3431 4.25872 11.3431 3.72883C11.3431 3.19882 11.7727 2.76929 12.3026 2.76929C12.8326 2.76929 13.2623 3.19882 13.2623 3.72883Z' fill='%236078FF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      }
    }

    &.tiktok {
      &:before {
        background-image: url("data:image/svg+xml,%3Csvg id='Capa_1' enable-background='new 0 0 512 512' height='512' viewBox='0 0 512 512' width='512' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%236078FF' d='m480.32 128.39c-29.22 0-56.18-9.68-77.83-26.01-24.83-18.72-42.67-46.18-48.97-77.83-1.56-7.82-2.4-15.89-2.48-24.16h-83.47v228.08l-.1 124.93c0 33.4-21.75 61.72-51.9 71.68-8.75 2.89-18.2 4.26-28.04 3.72-12.56-.69-24.33-4.48-34.56-10.6-21.77-13.02-36.53-36.64-36.93-63.66-.63-42.23 33.51-76.66 75.71-76.66 8.33 0 16.33 1.36 23.82 3.83v-62.34-22.41c-7.9-1.17-15.94-1.78-24.07-1.78-46.19 0-89.39 19.2-120.27 53.79-23.34 26.14-37.34 59.49-39.5 94.46-2.83 45.94 13.98 89.61 46.58 121.83 4.79 4.73 9.82 9.12 15.08 13.17 27.95 21.51 62.12 33.17 98.11 33.17 8.13 0 16.17-.6 24.07-1.77 33.62-4.98 64.64-20.37 89.12-44.57 30.08-29.73 46.7-69.2 46.88-111.21l-.43-186.56c14.35 11.07 30.04 20.23 46.88 27.34 26.19 11.05 53.96 16.65 82.54 16.64v-60.61-22.49c.02.02-.22.02-.24.02z'/%3E%3C/g%3E%3C/svg%3E");
      }
    }

    &.fb {
      &:before {
        background-image: url("data:image/svg+xml,%3Csvg width='9' height='16' viewBox='0 0 9 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.66463 2.65667H8.1253V0.112667C7.8733 0.078 7.00663 0 5.9973 0C3.8913 0 2.44863 1.32467 2.44863 3.75933V6H0.124634V8.844H2.44863V16H5.29797V8.84467H7.52797L7.88197 6.00067H5.2973V4.04133C5.29797 3.21933 5.5193 2.65667 6.66463 2.65667Z' fill='%236078FF'/%3E%3C/svg%3E%0A");
      }
    }

    &.youtube {
      &:before {
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.7116 1.9136C13.5502 1.36282 13.0773 0.928663 12.4777 0.780349C11.3821 0.505005 6.99986 0.505005 6.99986 0.505005C6.99986 0.505005 2.61773 0.505005 1.52216 0.769853C0.934063 0.91807 0.449675 1.36292 0.288283 1.9136C0 2.91963 0 5.00605 0 5.00605C0 5.00605 0 7.10295 0.288283 8.09849C0.449781 8.64918 0.922527 9.08343 1.52227 9.23174C2.62926 9.50709 6.99997 9.50709 6.99997 9.50709C6.99997 9.50709 11.3821 9.50709 12.4777 9.24224C13.0774 9.09402 13.5502 8.65977 13.7117 8.10908C13.9999 7.10295 13.9999 5.01664 13.9999 5.01664C13.9999 5.01664 14.0115 2.91963 13.7116 1.9136Z' fill='%236078FF'/%3E%3Cpath d='M5.60461 6.93364L9.2487 5.00613L5.60461 3.07861V6.93364Z' fill='white'/%3E%3C/svg%3E%0A");
      }
    }
  }

  &__list {
    margin-bottom: 25px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(130, 136, 171, 0.36);

    li {
      font-weight: 300;
      font-size: 14px;
      text-align: center;
      color: $light-blue;
      margin-bottom: 20px;
      line-height: 150%;
      position: relative;
      padding-right: 20px;

      &:before {
        display: none;
        position: absolute;
        content: "";
        width: 10px;
        height: 7px;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        @include bg-img-center;
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='12' viewBox='0 0 15 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.7803 0.219683C14.4875 -0.0732276 14.0126 -0.0732276 13.7197 0.219683L4.73421 9.20524L1.28035 5.75137C0.987466 5.45846 0.512622 5.45849 0.219683 5.75137C-0.0732275 6.04425 -0.0732275 6.5191 0.219683 6.81201L4.20388 10.7961C4.49668 11.089 4.97187 11.0888 5.26455 10.7961L14.7803 1.28035C15.0733 0.987466 15.0732 0.512593 14.7803 0.219683Z' fill='%2355D989'/%3E%3C/svg%3E%0A");
      }

      &.active {
        color: $text-hole;

        &:before {
          display: block;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__btn {
    padding: 14px 20px;
    width: 100%;
    box-shadow: 0px 1px 16px rgba(255, 145, 66, 0.23);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-align: center;
    color: $white;
    background-color: $btn-liks;
    position: relative;

    &:hover {
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
    }

    &:before {
      transition: all 0.3s ease;
      position: absolute;
      content: "";
      width: 18px;
      height: 18px;
      top: 50%;
      transform: translateY(-50%);
      left: 20px;
      @include bg-img-center;
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M5.83594 11.637H15.3634C15.5993 11.637 15.8063 11.481 15.8702 11.2544L17.9797 3.87143C18.025 3.71227 17.994 3.54129 17.8941 3.40904C17.7941 3.27721 17.6387 3.19934 17.4728 3.19934H4.61852L4.24155 1.50305C4.18799 1.26149 3.97375 1.08997 3.72656 1.08997H0.527344C0.235931 1.08997 0 1.3259 0 1.61731C0 1.90886 0.235931 2.14465 0.527344 2.14465H3.30331L5.20766 10.714C4.64735 10.9576 4.25391 11.5153 4.25391 12.1643C4.25391 13.0366 4.96362 13.7464 5.83594 13.7464H15.3634C15.655 13.7464 15.8908 13.5106 15.8908 13.219C15.8908 12.9276 15.655 12.6917 15.3634 12.6917H5.83594C5.54549 12.6917 5.30859 12.4553 5.30859 12.1643C5.30859 11.8733 5.54549 11.637 5.83594 11.637Z' fill='white'/%3E%3Cpath d='M5.3085 15.3284C5.3085 16.2008 6.01822 16.9104 6.89067 16.9104C7.76299 16.9104 8.4727 16.2008 8.4727 15.3284C8.4727 14.4561 7.76299 13.7463 6.89067 13.7463C6.01822 13.7463 5.3085 14.4561 5.3085 15.3284Z' fill='white'/%3E%3Cpath d='M12.7267 15.3284C12.7267 16.2008 13.4364 16.9104 14.3087 16.9104C15.1811 16.9104 15.8907 16.2008 15.8907 15.3284C15.8907 14.4561 15.1811 13.7463 14.3087 13.7463C13.4364 13.7463 12.7267 14.4561 12.7267 15.3284Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='18' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }
  }
}
