.purchase-likes {
  background-color: $white;
  background-image: url(../images/section-bg.svg);
  background-repeat: no-repeat;
  background-position: right 40%;

  .container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding-top: 0px;
    padding-bottom: 100px;
    @media screen and (min-width: 768px) {
      padding-top: 100px;
    }
  }
  &__img {
    margin-left: -10px;
  }
  &__info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 10px;
    @media screen and (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-row-gap: 0;
    }
  }
  h1 {
    font-weight: bold;
    font-size: 25px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: $text-hole;
    max-width: 361px;
    width: 100%;
    margin: 0;
    text-align: left;
    margin-top: -10px;
    @media screen and (min-width: 768px) {
      font-size: 36px;
    }
  }
  &__info-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: $text-hole;
    padding-bottom: 35px;
  }
  &__info-a {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    position: relative;
    color: transparent;
    padding-bottom: 74px;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(102.31deg, #df4242 11.59%, #ff7802 38.9%);
  }
  &__info-a:after {
    content: "";
    position: absolute;
    background-image: url(../images/arr-right.svg);
    background-repeat: no-repeat;
    width: 18px;
    height: 12px;
    top: 8px;
    margin-left: 18px;
  }
  &__info2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-column-gap: 12px;
    grid-row-gap: 10px;
    @media screen and (min-width: 600px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
    }
    @media screen and (min-width: 1023px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      grid-row-gap: 0;
    }
  }
  &__info2-box {
    padding: 20px 20px 0px 20px;
    background: $section-bg;
    @media screen and (min-width: 768px) {
      padding: 33px 26px 0px 31px;
    }
  }
  &__info2-head {
    display: flex;
    align-items: center;
  }
  &__info2-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: $text-hole;
    padding-left: 20px;
  }
  &__info2-subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: $text-hole;
    padding-top: 15px;
    padding-bottom: 20px;
    @media screen and (min-width: 768px) {
      padding-bottom: 66px;
      padding-top: 25px;
    }
  }
}
.instagram-likes {
  background-color: $white;
  overflow: visible;
  .container-inst {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      padding-top: 118px;
      padding-bottom: 100px;
      padding-right: 15px;
    }
  }
  &__img {
    width: 100%;
    position: relative;
    margin-right: 20px;
    max-width: 685px;
    img {
      width: 100%;
    }

    @media screen and (min-width: 1360px) {
      margin-left: -145px;
      margin-right: 115px;
      margin-top: 23px;
    }
  }
  &__info {
    max-width: 507px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  h1 {
    font-weight: bold;
    font-size: 25px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: $text-hole;
    max-width: 361px;
    width: 100%;
    margin: 0;
    text-align: left;
    margin-top: -10px;
    padding-bottom: 23px;
    @media screen and (min-width: 768px) {
      font-size: 36px;
      line-height: 1.5;
    }
  }
  &__info img {
    margin-left: -11px;
    margin-top: -50px;
  }
  &__info-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: $text-hole;
    padding-bottom: 35px;
  }
  &__info-a {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    position: relative;
    color: transparent;
    padding-bottom: 41px;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(102.31deg, #df4242 11.59%, #ff7802 38.9%);
  }
  &__info-a:after {
    content: "";
    position: absolute;
    background-image: url(../images/arr-right.svg);
    background-repeat: no-repeat;
    width: 18px;
    height: 12px;
    top: 8px;
    margin-left: 18px;
  }
}
.advantages {
  background-color: $white;
  background-image: url(../images/advant-bg.svg);
  background-repeat: no-repeat;
  background-position: left 58%;

  .container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding: 0 15px 88px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      margin-top: 0;
    }
  }
  h1 {
    font-weight: bold;
    font-size: 25px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: $text-hole;
    max-width: 361px;
    width: 100%;
    margin: 0;
    text-align: left;
    margin-top: -10px;
    padding-bottom: 23px;
    max-width: 300px;
    width: 100%;
    @media screen and (min-width: 768px) {
      font-size: 36px;
    }
  }
  &__info img {
    margin-left: -11px;
  }
  &__info-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: $text-hole;
    padding-bottom: 35px;
    max-width: 707px;
    width: 100%;
    padding-right: 20px;
    @media screen and (min-width: 768px) {
      max-width: 507px;
    }
  }
  &__info-a {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    position: relative;
    color: transparent;
    padding-bottom: 41px;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(102.31deg, #df4242 11.59%, #ff7802 38.9%);
  }
  &__info-a:after {
    content: "";
    position: absolute;
    background-image: url(../images/arr-right.svg);
    background-repeat: no-repeat;
    width: 18px;
    height: 12px;
    top: 8px;
    margin-left: 18px;
  }
  &__content {
    margin-top: 14px;
    @media screen and (min-width: 768px) {
      margin-top: 64px;
    }
  }
  &__content-box {
    padding: 33px 29px 54px 40px;
    max-width: 564px;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background: $white;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    margin-bottom: 10px;
    @media screen and (min-width: 768px) {
      margin-right: 0;
      height: 185px;
    }
  }
  h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: $text-hole;
    padding-bottom: 14px;
    position: relative;
    padding-left: 28px;
    &:before {
      content: "";
      position: absolute;
      width: 18px;
      height: 18px;
      background-image: url(../images/arr-green.svg);
      background-repeat: no-repeat;
      top: 6px;
      left: 0;
    }
  }
  &__content-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: $text-hole;
  }
}
