section.purchase-section
	.purchase-likes
		.container
			.purchase-likes__img
				img(src="images/purch.svg", alt="")
			.purchase-likes__info
				h1 HOW TO PURCHASE LIKES
				.purchase-likes__info-texts
					p.purchase-likes__info-text Promotion on the Internet has become an effective tool to get reach to the targeted audience without wasting any time on advertising and marketing. Social networks allow you to upload photos and short videos to the network and promote business projects, as well as provide a unique opportunity to make your brand well-known. However, in order to achieve good results and ensure a stable income, it is necessary to gain the reputation and interact with the wide audience interested in your services or goods. Several steps will make your dreams come true:
					a(href="#")
						.purchase-likes__info-a Select social media
			.purchase-likes__info2
				.purchase-likes__info2-box
					.purchase-likes__info2-head
						img(src="images/first.svg", alt="")
						.purchase-likes__info2-title Select username
					.purchase-likes__info2-subtitle Select the social network and enter your username
				.purchase-likes__info2-box
					.purchase-likes__info2-head
						img(src="images/second.svg", alt="")
						.purchase-likes__info2-title Choose content
					.purchase-likes__info2-subtitle Choose and tick the content on your page that you would like to promote.
				.purchase-likes__info2-box
					.purchase-likes__info2-head
						img(src="images/third.svg", alt="")
						.purchase-likes__info2-title Check the result
					.purchase-likes__info2-subtitle Wait for a little time and enjoy the results!
	.instagram-likes
		.container-inst
			.instagram-likes__img
				img(src="images/group.svg", alt="")
			.instagram-likes__info
				img(src="images/buy.svg", alt="")
				h1 GET YOUR REAL INSTAGRAM LIKES
				.instagram-likes__info-texts
					p.instagram-likes__info-text The recent development of modern technologies and social networks have led to the fact that each person has a unique opportunity to become a public person. For some users, likes on Instagram have become especially significant. A lot of people are engaged in the promotion of their photo blog and the publication of new pictures almost daily. Such users often consider the ways how to buy likes on Instagram and implement their ambitious plans as quickly as possible, achieve popularity, and earn a lot of money. Of course, you can obtain the desired hearts in the social network on your own, in a typical way, by publishing interesting photos of good quality on the page. However, this method requires a lot of time. Even extraordinary photos of the highest quality do not guarantee a rapid increase in the rate and growth in the popularity of your page.
					a(href="#")
						.instagram-likes__info-a Select social media
	.advantages
		.container
			.advantages__info
				img(src="images/advant-img.svg", alt="")
				h1 OUR ADVANTAGES
				.advantages__info-texts
					p.advantages__info-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
					a(href="#")
						.advantages__info-a Select social media
			.advantages__content
				.advantages__content-box
					h2 Real accounts
					p.advantages__content-text 100% of likes come from real pages, no empty profiles, so you will get only high-quality likes!
				.advantages__content-box
					h2 Instant start
					p.advantages__content-text Likes begin to appear immediately after make a payment. Enjoy our instant delivery!
				.advantages__content-box
					h2 Friendly support
					p.advantages__content-text Our support is ready to answer any questions at any time of the day.
				.advantages__content-box
					h2 Reasonable prices
					p.advantages__content-text We offer high-quality services at affordable prices.